<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
        <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="app">
            <div id="main">
                <div class="box-row" v-for="row in MAXHEIGHT">
                    <a class="box" v-for="col in MAXWDITH" :class="[snackClass(row, col), snackAddClass(row, col)]" :id="'snack' + '-' + row + '-' + col"></a>
                </div>
                <!-- <div class="test">
                    <div class="snack snack-top-left"></div>
                    <div class="snack snack-top-right"></div>
                    <div class="snack snack-bottom-left"></div>
                    <div class="snack snack-bottom-right"></div>
                    <div class="snack snack-row"></div>
                    <div class="snack snack-col"></div>
                </div> -->
            </div>
        </div>
    </body>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                MAXHEIGHT: 40,
                MAXWDITH: 40,
                snackPos: [],
                head: [0, 0],
                food: [0, 0],
                direction: 1,
                dead: false,
                speed: 10,
                mainInterval: null
            },
            mounted() {
                const self = this
                this.head = this.randomPos(3, this.MAXHEIGHT - 3, 3, this.MAXWDITH)
                this.snackPos.push([this.head[0], this.head[1]])
                this.snackPos.push([this.head[0], this.head[1] - 1])
                this.snackPos.push([this.head[0], this.head[1] - 2])
                this.snackPos.push([this.head[0], this.head[1] - 3])
                this.snackPos.push([this.head[0], this.head[1] - 4])
                this.food = this.randomPos()
                this.move()
                this.mainInterval = setInterval(function() {
                    self.move()
                    self.auto()
                    self.eat()
                    self.isDie()
                    // self.updateStyle()
                    self.win()
                }, self.speed)
            },
            computed: {
            },
            methods: {
                snackClass(row, col) {
                    if (this.isPos(row, col)) return 'snack'
                    return ''
                },
                snackAddClass(row, col) {
                    const index = this.indexOfSnack(row, col)
                    if (index >= 0) {
                        const pos = this.snackPos
                        if (index > 0 && index < this.snackPos.length - 1) {
                            const last = pos[index - 1]
                            const next = pos[index + 1]
                            if (Math.abs(last[0] - row) == 1 && Math.abs(next[0] - row) == 1) return 'snack-col'
                            else if ((last[0] - row == -1 && next[1] - col == -1) || (next[0] - row == -1 && last[1] - col == -1)) return 'snack-top-left'
                            else if ((last[0] - row == -1 && next[1] - col == 1) || (next[0] - row == -1 && last[1] - col == 1)) return 'snack-top-right'
                            else if ((last[0] - row == 1 && next[1] - col == -1) || (next[0] - row == 1 && last[1] - col == -1)) return 'snack-bottom-left'
                            else if ((last[0] - row == 1 && next[1] - col == 1) || (next[0] - row == 1 && last[1] - col == 1)) return 'snack-bottom-right'
                            else if (Math.abs(last[1] - col) == 1 && Math.abs(next[1] - col) == 1) return 'snack-row'
                            else return ''
                        } else if (index == 0) {
                            const next = pos[index + 1]
                            if (Math.abs(next[0] - row) == 1) return 'snack-col'
                            else return 'snack-row'
                        } else {
                            const last = pos[index - 1]
                            if (Math.abs(last[0] - row) == 1) return 'snack-col'
                            else return 'snack-row'
                        }
                    }
                    return ''
                },
                snackIsContains(row, col) {
                    for (let val of this.snackPos) {
                        if (val[0] == row && val[1] == col) return true
                    }
                    return false
                },
                indexOfSnack(row, col) {
                    for (let i in this.snackPos) {
                        if (this.snackPos[i][0] == row && this.snackPos[i][1] == col) return parseInt(i)
                    }
                    return -1
                },
                randomPos(rowMin = 1, rowMax = this.MAXHEIGHT + 1, colMin = 1, colMax = this.MAXWDITH + 1) {
                    let pos = [Math.floor((rowMax - rowMin) * Math.random()) + rowMin, Math.floor((colMax - colMin) * Math.random() + colMin)]
                    while (this.snackIsContains(pos[0], pos[1])) {
                        pos = [Math.floor((rowMax - rowMin) * Math.random()) + rowMin, Math.floor((colMax - colMin) * Math.random() + colMin)]
                    }
                    return pos
                },
                isHead(row, col) {
                    return row == this.snackPos[0][0] && col == this.snackPos[0][1]
                },
                isPos(row, col) {
                    return this.snackIsContains(row, col) || ( row == this.food[0] && col == this.food[1])
                },
                move() {
                    const self = this
                    for (let i = self.snackPos.length - 1; i > 0; i--) {
                        Vue.set(self.snackPos, i, self.snackPos[i - 1])
                    }
                    if (self.direction == 0) {
                        Vue.set(self.snackPos, 0, [self.snackPos[0][0] - 1, self.snackPos[0][1]])
                    } else if (self.direction == 1) {
                        Vue.set(self.snackPos, 0, [self.snackPos[0][0], self.snackPos[0][1] + 1])
                    } else if (self.direction == 2) {
                        Vue.set(self.snackPos, 0, [self.snackPos[0][0] + 1, self.snackPos[0][1]])
                    } else if (self.direction == 3) {
                        Vue.set(self.snackPos, 0, [self.snackPos[0][0], self.snackPos[0][1] - 1])
                    }
                },
                auto() {
                    // if (this.snackPos[0][0] == 1 && this.snackPos[0][1] == 1) {
                    //     if (this.direction == 0) this.direction = 1
                    //     else this.direction = 2
                    // } else if (this.snackPos[0][0] == this.MAXHEIGHT && this.snackPos[0][1] == 1) {
                    //     if (this.direction == 2) this.direction = 1
                    //     else this.direction = 0
                    // } else if (this.snackPos[0][0] == 1 && this.snackPos[0][1] == this.MAXWDITH) {
                    //     if (this.direction == 0) this.direction = 3
                    //     else this.direction = 2
                    // } else if (this.snackPos[0][0] == this.MAXHEIGHT && this.snackPos[0][1] == this.MAXWDITH) {
                    //     if (this.direction == 1) this.direction = 0
                    //     else this.direction = 3
                    // } else if ((this.snackPos[0][0] == 1 && this.direction == 0) || (this.snackPos[0][0] == this.MAXHEIGHT && this.direction == 2)) {
                    //     this.direction = [1, 3][Math.floor(2 * Math.random())]
                    // } else if ((this.snackPos[0][1] == 1 && this.direction == 3) || (this.snackPos[0][1] == this.MAXWDITH && this.direction == 1)) {
                    //     this.direction = [0, 2][Math.floor(2 * Math.random())]
                    // }
                    if ((this.direction == 1 && this.snackPos[0][0] % 2 == 1) || (this.direction == 3 && this.snackPos[0][0] % 2 == 0)) this.direction = 2
                    else if (this.snackPos[0][1] == this.MAXHEIGHT - 1 && this.snackPos[0][0] == this.MAXHEIGHT) this.direction = 1
                    else if (this.snackPos[0][1] == this.MAXHEIGHT && this.snackPos[0][0] > 1) this.direction = 0
                    else if (this.snackPos[0][0] % 2 == 1) {
                        if (this.snackPos[0][1] == 1) this.direction = 2
                        else this.direction = 3
                    } else if (this.snackPos[0][0] % 2 == 0) {
                        if (this.snackPos[0][1] == this.MAXHEIGHT - 1) this.direction = 2
                        else this.direction = 1
                    }
                },
                eat() {
                    if (this.food[0] == this.snackPos[0][0] && this.food[1] == this.snackPos[0][1]) {
                        this.snackPos.push([this.snackPos[this.snackPos.length - 1][0] - (this.snackPos[this.snackPos.length - 2][0] - this.snackPos[this.snackPos.length - 1][0]), this.snackPos[this.snackPos.length - 1][1] - (this.snackPos[this.snackPos.length - 2][1] - this.snackPos[this.snackPos.length - 1][1])])
                        this.food = this.randomPos()
                    }
                },
                isDie() {
                    if(this.snackIsContains(this.snackPos[0][0], this.snackPos[0][1])) this.dead = true
                },
                getId(row, col) {
                    return 'snack-' + row + '-' + col
                },
                win() {
                    if (this.snackPos.length == this.MAXWDITH * this.MAXHEIGHT - 2) clearInterval(this.mainInterval)
                }
            }
        })
    </script>
    <style>
        #app {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #main {
            width: 300px;
            height: 300px;
        }
        .box {
            width: 6px;
            height: 6px;
            background-color: black;
            display: inline-block;
            vertical-align: top;
        }
        .box-row {
            height: 6px;
        }
        .snack {
            width: 4px;
            height: 4px;
            background-color: white;
            border: 1px solid black;
            position: relative;
        }
        .snack::after, .snack::before {
            content: '';
            position: absolute; 
        }
        .snack-top-right::after, .snack-top-left::after, .snack-col::before {
            top: -1px;
            border-top: 1px solid white;
            height: 0px;
            width: 4px;
        }
        .snack-top-left::before, .snack-bottom-left::before, .snack-row::before {
            left: -1px;
            border-left: 1px solid white;
            height: 4px;
            width: 0px;
        }
        .snack-top-right::before, .snack-bottom-right::before, .snack-row::after {
            right: -1px;
            border-right: 1px solid white;
            height: 4px;
            width: 0px;
        }
        .snack-bottom-right::after, .snack-bottom-left::after, .snack-col::after {
            bottom: -1px;
            border-bottom: 1px solid white;
            height: 0px;
            width: 4px;
        }
        .test {
            width: 100px;
            height: 100px;
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</html>